*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 10%;
    border: none;
    box-shadow:0 0 1rem black;
    font-size: 8vmin;
    color:#b0413e;
    font-weight: bolder;
    background-color: #ffffc7;
}

#reset-btn{
    padding : 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:#fff;
    border-radius: 10%;
    border: none;
}

#new-btn{
    padding : 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:#fff;
    border-radius: 10%;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size:5vmin;

}

.msg-container{
    gap:4rem;
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide{
    display: none;
}
